.nav-bg-img{
  background-image: url("images/desktop/image-hero.jpg");
  height: 400px;
}
.experiences{
color: rgb(206, 203, 199);
font-size: 40px;
border: 2px solid rgb(182, 180, 177);
width: 320px;
margin: 100px 200px;
padding: 30px;
line-height: 40px;
}
.for-margin{
  margin-left: 100px;
  margin-right: 100px;
}
.img{
  margin-top: 100px;
}
.detail{
  margin-top: 350px;
  margin-left: -20px;
  padding: 50px;
  background-color: white;
  align-items: center;
}
.font-color{
  color: grey;
}
.button{
  /* margin-left: 600px; */
  justify-content: end;
  margin-left: 470px;
  padding: 30px;
}
.for-img{
  margin-left: 50px;
  border: none;
}
/* .for-hover:hover{
  background-color: rgba(200, 218, 200, 0.431);
} */
.footer-bg{
  background-color: black;
  color: white;
  height: 100px;
}